body{
    background-color: #2ecd93;
}
.container1{
    margin-top: 8%;
    margin-left: 16%;
    background-color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("../img/Screenshot from 2020-06-27 23-24-49.png");
    background-position: center;
    /* background-size: cover; */
    border-radius: 3%;
}
.userName , .password {
    width: 100%;
}
.userName input ,
.password input {
    border-bottom: 3px solid #2ecd93;
    padding-left: 34px;
    font-size: 15px;
}

.userName label ,
.password label {
font-weight: bold;
font-size: 14px;
}
label span{
    color:#2ecd93;
    font-size: 17px;
}
.userName svg ,
.password svg {
    position: relative;
    float: none;
    top: -35px;
    left: 7px;
    color:#87868d;
    font-size: 19px;
}
.userName small{
    margin-top: -0.75rem;
    margin-bottom: -13px;
}
.im img{
    max-width: 100%;
    height: 100%;
}
.im{
   max-width: 103px;
    height: 97px;
    margin-left: 30%;
}
.h2InContainer{
    font-weight: bold;
}
.h2InContainer span{
    color:#2ecd93 ;
    font-size: 45px;
}

@media screen and (max-width:960px){
    .container1{
    margin-left: 30px;
   
    } 
 }
 @media screen and (max-width: 540px){
    .container1{
 margin-left: 20%;
 width: 60%;
 background-image: url("../img/Screenshot from 2020-06-28 00-35-52.png");
    } 
 }
 @media screen and (min-width: 540px){
    .container1{
 margin-left: 20%;
 width: 80%;
    } 
 }
 
/*  navbar  */
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 16px;
    /* background-color: black !important ; */
    
}
.nvpub{
  border-radius: 0;
  margin-bottom: 0;
  padding: 16px;
  background-color: #86b2f3 !important ;
  
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: black;
    padding-left: 40px;
    transition: all ease-in-out 0.5s;

}
.dropdown-menu {
    max-width: 130px ;
    transition: all 0.5s;
    transform: translateX(10px);
    min-width: 180px;
    margin-top: 10px;
   
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
    transition: all ease-in-out 0.3s;
}


/* member */

.main-table tr:first-child td {

    background-color: #466eb6 !important;
    color: #fff ;
    text-align: center;
}




/* footer */

.footer{
    color:#AAA;
    background-color: rgb(29, 26, 26) !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .footer a{
    color:#aaa;
  }
  .footer a:hover{
    color:#FFF;
  }
  .footer h3{
    letter-spacing: 1px;
    margin: 30px 0 20px;
    font-weight: bold;
  }
  .copyright{
    padding: 13px;
    font-weight: bold;
    background-color: black;
  color: white;
  }
  
  .three-column{
    overflow: hidden;
  }
  .three-column li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
  }
  /* .footer img{
    max-width: 100%;
  } */
  .footer .social-list{
    overflow: hidden;
    margin: 20px 0 10px;
    display: flex;
  }
  .footer i{
   /* float: left; */
   margin-right: 10px;
   opacity: 0.7;
   filter: alph(opacity=70);
  
  }
  .footer i:hover{
    margin-right: 3px;
    margin-left:15px;
    opacity:1;
    color:white;
    filter: alph(opacity=70);
  
  }
  .media img{
   width:84px;
    height: 84px; 
  }
  .media{
    margin-bottom: 13px;
  }
  
  .up_footer{
  
    background-color: black;
    height: 100px;
    margin-top: 320px;
    }
  
    .up_footer h1{
      color: white;
      position: relative;
      top: 30%;
    }
    